pipeline/003_PL_DATA_ASQL_Incr_Load.json
{
	"name": "003_PL_DATA_ASQL_Incr_Load",
	"properties": {
		"description": "Full or Incremental data load from 0318 (Source) to 0319 (Staging)\n\nLink : https://www.udemy.com/course/implementing-real-world-use-cases-in-azure-data-factory-v2/learn/lecture/19940682#overview",
		"activities": [
			{
				"name": "Load Enabled from 0319",
				"description": "Read Enabled load table from CFG table in 0319 (Staging DB)",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from cfg where enabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL0319_CFG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter CRM",
				"description": "Filter 'CRM' source from CFG table",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Load Enabled from 0319",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load Enabled from 0319').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'CRM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Data Load",
				"description": "If 'Full Load'",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter CRM').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Full or Incremental",
							"description": "True -> Full Load\nFalse -> Incremental Load",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Incremental_Full_Load,1))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Full Load - Get Max LastUpdated CFG",
										"description": "Get Max_LastUpdatedDate from CFG table",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select max_lastupdateddate from cfg where table_name = @'{item().Table_name}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_ASQL0319_CFG",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Copy SRC-0318 to STG-0319",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Full Load - Get Max LastUpdated CFG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									},
									{
										"name": "Get Max Update date from Actual Tables",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy SRC-0318 to STG-0319",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": "select max(Last_Updated_Date) from @{item().Table_Name}",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_ASQL0319_Table_Param",
												"type": "DatasetReference",
												"parameters": {
													"schema": "dbo",
													"table": {
														"value": "@{item().Table_Name}",
														"type": "Expression"
													}
												}
											},
											"firstRowOnly": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}