pipeline/008_PL_COPY_ADSL_CSV_Metadata.json
{
	"name": "008_PL_COPY_ADSL_CSV_Metadata",
	"properties": {
		"description": "Azure Data Factory Get Metadata and Save CSV to DB table\n\nLink : https://www.mssqltips.com/sqlservertip/6246/azure-data-factory-get-metadata-example/",
		"activities": [
			{
				"name": "Get_Folder_MetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_CSV_Sales",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_AC",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Folder_MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Folder_MetaData').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get_File_Metadata_AC",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_Param_Event",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item().name"
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}