pipeline/PL_MV_ADLS_ASQL_Multiple_Files.json
{
	"name": "PL_MV_ADLS_ASQL_Multiple_Files",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Get_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n     b.[ObjectName]\n    ,FolderName = b.[ObjectValue]\n    ,SQLTable   = s.[ObjectValue]\n    ,Delimiter  = d.[ObjectValue]\nFROM [dbo].[Metadata_ADF] b\nJOIN [dbo].[Metadata_ADF] s ON b.[ObjectName] = s.[ObjectName]\nJOIN [dbo].[Metadata_ADF] d ON b.[ObjectName] = d.[ObjectName]\nWHERE   b.[SourceType] = 'BlobContainer'\n    AND s.[SourceType] = 'SQLTable'\n    AND d.[SourceType] = 'Delimiter';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_Movies_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "_notSet"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop over Metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Get_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Get_Metadata').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}